@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope&family=Noto+Sans+KR:wght@500&family=Roboto&family=Roboto+Mono:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: blue;
  font-family: 'Inter', sans-serif, 'Manrope', sans-serif, 'Noto Sans KR', sans-serif, 'Roboto', sans-serif, 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: 'Inter', sans-serif, 'Manrope', sans-serif, 'Noto Sans KR', sans-serif, 'Roboto', sans-serif, 'Roboto Mono', monospace;
}